/* Підключення нестандартного шрифта з Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url('path_to_your_image.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: rgba(139, 0, 0, 0.8); /* Червоний фон з прозорістю */
    color: white;
    padding: 15px;
    font-size: 48px;
    font-family: 'Pacifico', cursive; /* Нестандартний шрифт */
    animation: waveAnimation 2s ease-in-out infinite; /* Додаємо анімацію */
}

@keyframes waveAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-10px);
    }
    20% {
        transform: translateY(10px);
    }
    30% {
        transform: translateY(-10px);
    }
    40% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-10px);
    }
    70% {
        transform: translateY(10px);
    }
    80% {
        transform: translateY(-10px);
    }
    90% {
        transform: translateY(10px);
    }
}

.section {
    padding: 20px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.5); /* Прозорий білий фон */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #333;
}

.menu-item, .activity {
    font-size: 18px;
    margin: 5px 0;
}

footer {
    background-color: rgba(139, 0, 0, 0.8); /* Червоний фон з прозорістю */
    color: white;
    padding: 10px;
    margin-top: 20px;
}

/* Стилі для кнопки чату */
.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #8B0000;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* Стилі для вікна чату */
.chat-window {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: none;
    flex-direction: column;
    border: 2px solid #8B0000;
}

.chat-header {
    background-color: #8B0000;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-messages {
    padding: 10px;
    flex-grow: 1;
    overflow-y: auto;
    font-size: 14px;
    background-color: #f8f8f8;
    border-bottom: 2px solid #8B0000;
}

.chat-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-top: 2px solid #8B0000;
    font-size: 14px;
}

.send-btn {
    width: 100%;
    padding: 10px;
    background-color: #8B0000;
    color: white;
    border: none;
    cursor: pointer;
}
