body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url('https://www.myvin.com.ua/uploads/article/img_large/20043/ec307899c52d5d40af68cdda8a3302d5.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: rgba(139, 0, 0, 0.8); /* Червоний фон з прозорістю */
    color: white;
    padding: 15px;
    font-size: 24px;
}

.section {
    padding: 20px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.5); /* Прозорий білий фон */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #333; /* Темний колір тексту */
}

.menu-item, .activity {
    font-size: 18px;
    margin: 5px 0;
}

footer {
    background-color: rgba(139, 0, 0, 0.8); /* Червоний фон з прозорістю */
    color: white;
    padding: 10px;
    margin-top: 20px;
}
